html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  /* navbar */

.navbar {
    position: relative;
    background-color: #FF9901;
    height: 135px;
}

/* Фонове зображення */
.navbar-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    background-image: url('wave.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}

/* Стилі для списку навігації */
.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-list .navbar-item {
    display: inline-block;
    margin-right: 107px;
    margin-bottom: 53px;
}

.navbar-title {
    color: #1B1D1F;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.navbar-list .navbar-item:last-child {
    margin-right: 0;
}

.navbar-item:hover{
    text-decoration: underline;
}

.navbar-list .navbar-link {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

  /* main */

  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 30px;
    width: 700px;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: none;
    border: none;
  }
  
  .modal__header .modal__close:before {
    content: "\2715";
  }
  
  .modal__content {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .splide__slide {
    height: 500px;
  }
  
  .splide__slide img {
    height: 100%;
  }
  
  @keyframes mmfadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes mmfadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes mmslideIn {
    from {
      transform: translateY(15%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes mmslideOut {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-10%);
    }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  .city-gallery {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .city-gallery-title {
    color: #1B1D1F;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 80px;
    margin-top: 0;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery-button {
    width: calc(25% - 24px * 3 /4);
    margin-bottom: 24px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 48px;
    padding: 0;
  }
  
  .gallery-image {
    width: 100%;
    border-radius: 48px;
  }

  /* Стили для модального окна */
  .login-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  .close {
      color: #aaa;
      float: top;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

/* footer */

footer {
    background-color: #FF9901;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column .img-logo {
    max-width: 229px;
    padding-top: 50px;
    padding-left: 32px;
    padding-bottom: 107px;
    padding-right: 341px;
}

.footer-columns {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding-right: 20px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.column h4 {
    font-size: 16px;
}

.bottom-image{
    width: 100%;
    height: 215px;
    background-image: url('triangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-title{
    color: #FF6B01;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-item {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 19px;
}

.footer-link {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-item:hover{
    text-decoration: underline;
}